name: Build Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs: 

  build_windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - uses: ilammy/msvc-dev-cmd@v1

      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Build
        env:
          TARGET_PLATFORM: windows
        run: |
          cmake -B build -DAGNI_COMPILE_SHADERS=OFF
          cmake --build build --config Debug
